#jqxWidget {
	/* ... */
	display: flex;
	justify-content: center;
	align-items: center;
}

#orderJqxGrid .jqx-grid-column-header {
	font-weight: bold;
	color: black !important;
	background : white !important;
}


#orderJqxGrid.jqx-grid-cell .custom-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#orderJqxGrid .jqx-grid-cell {
	background : white !important;
	font-size: 12px;
}

#orderJqxGrid .jqx-button{
	border-color: #ffffff;
    background: #ffffff;
}
/*

.specialtext {
	color: orange !important;
}

.description {
	color: whitesmoke !important;
}

.sellformat {
	color: red !important;
}

.buyformat {
	color: greenyellow !important;
}

.booleanvalue {
	color: mistyrose !important;
	background-color: aquamarine;
	pointer-events: none;
	visibility: hidden;
}

.quoteonthewire input {
	background-color: whitesmoke;
	color: gray !important;
}

.quoterequested input {
	background-color: rgb(231, 86, 60);
	color: white !important;
}

.jqx-grid-cell {
	border-color: black !important;
	border-right: none;
	border-bottom-width: 2px;
}

.jqx-grid-cell .jqx-grid-cell-left-align {
	margin-top: 10px !important;
}

.jqx-grid-statusbar {
	background-color: rgb(22, 22, 22) !important;
}

.jqx-grid-statusbar span {
	color: rgb(148, 198, 255);
	font-size: 12px;
}   */