@charset "ISO-8859-1";

body {
	background-image: url("pizza-background.jpg");
	background-size: cover;
}

.form-login {
	background-color: #ffffff;
	padding: 20px;
	margin-top: 100px;
	border-radius: 5px;
	box-shadow: 0px 0px 20px #c1c1c1;
}

.form-login input[type=text], .form-login input[type=password] {
	width: 100%;
	padding: 10px;
	margin: 5px 0 10px 0;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #c1c1c1;
}

.form-login input[type=email], .form-login input[type=password] {
	width: 100%;
	padding: 10px;
	margin: 5px 0 10px 0;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #c1c1c1;
}

.form-login input[type=submit] {
	background-color: #007bff;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	padding: 10px;
	width: 100%;
	margin-top: 10px;
}

.form-login input[type=button] {
	background-color: #007bff;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	padding: 10px;
	width: 100%;
	margin-top: 10px;
}

.form-login input[type=button]:hover {
	background-color: #0069d9;
}

.form-login input[type=submit]:hover {
	background-color: #0069d9;
}